.wrapper{
    display: flex;
    flex-direction: row;

    &__line{
        height: auto;
        width: 2px;
        background-color: white;
        margin: 23rem 7rem 0rem 6rem;

        animation: load_line 0.5s ease-in-out;
    }

    

    &__text{
        margin-top: 17rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;

        font-family: "Video Cond";
        font-size: 36px;

        animation: load_text 0.7s ease-in-out;

        &-header{
            text-decoration: underline dotted;
        }
        
        &-social{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            align-items: center;
            width: 30rem;
            padding: 1rem 0rem;

            &-btn{
                width: 50px;
                height: 50px;
                margin-right: 1.5rem;
                border-radius: 50%;
                border: 1px solid white;
                
                background-color: transparent;
                
                color: white;
                font-size: 16px;


                &:hover{
                cursor: pointer;
            }
            }
        }

        &-bio{
            font-size: 32px;
            margin-top: 2rem;
            width: 50rem;

            &-span{
                display: inline-block;
                color: rgb(7, 116, 7);
                font-family: "Roboto mono";
                font-size: 16px;
            }
        }
    }
}

.git{
    background: linear-gradient(to right, $circleBlue 50%, transparent 50%);
    background-size: 250%;
    background-position: right;
    transition: all 0.2s;

    &:hover{
        transition: background-position 0.2s;
        background-position: left;
        border: 2px solid white; 
    }
}

.linkdin{
    background: linear-gradient(to left, $saturatedYellow 50%, transparent 50%);
    background-size: 250%;
    background-position: left;
    transition: all 0.2s;

    &:hover{
        color: black;
        transition: background-position 0.2s;
        background-position: right;
        border: 2px solid white;
    }
}

.resume{
    border-radius: 8px;
    width: 9rem;
    height: 3rem;

    font-size: 12px;


    &:hover{
        border: 2px solid white;
        font-weight: Bolder;
    }
}


@media screen and (max-width: 1500px){
    .wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;

        &__line{
            display: none;
        }

        &__text{
            width: 100%;
            margin-top: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &-social{
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-btn{
                    margin-right: 1rem;
                }
            }

            &-bio{
                width: 80%;
                text-align: center;
                padding: 0;
                margin-bottom: 4rem;
            }
        }
    }
}