@keyframes loading{
    0%{
        width: 0%;
    }

    68%{
        width: 40rem;
    }

    100%{
        width: 50rem;
    }
}

@keyframes flashing{
    0%{
        color: transparent;
    }

    100%{
        color: white;
    }
}

@keyframes disappear{

    90%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

@keyframes btn_scrape{

    
}