.display {
    display: flex;
    width: 100%;

    &__aside {
        display: flex;
        flex-direction: column;
        order: 1;
        align-items: center;
        padding: 1rem;
        width: 15.5%;
        height: 887px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        background-color: $wineRed;

        &-input {
            margin-top: 2rem;
            width: 14rem;
            height: 2.5rem;
            background-color: $black;
            color: white;
            border: 1px solid #fff;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 1rem;

            &::placeholder {
                font-family: "blender pro";
                font-size: 16px;
                color: white;
            }
        }

        &-button {
            cursor: pointer;
            background-color: transparent;
            border: 1px solid transparent;
            width: 36px;
            height: 36px;
            border-radius: 25px;
        }
    }

    &__items {
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 84.5%;
        border: 1px white solid;
        border-left: 1px solid transparent;

        &-element {
            border: 1px solid black;
            height: 295px;
        }
    }
}

/// Elements

.textReader{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    background: linear-gradient(to left, black 50%, #fff 50%) right;
    background-size: 250%;
    transition: 0.4s ease-out;

    &-title {
        font-family: "Public Sans", sans-serif;
        font-weight: 100;
        font-size: 36px;
    }

    &-description {
        color: black;
        font-family: "quicksand", sans-serif;
        font-weight: bolder;
        font-size: 16px;
        &-h2 {
            margin-bottom: 2rem;
        }
    }

    &:hover {
        background-position: left;
        cursor: pointer;
        
    }
}



@media screen and (max-width: 1000px) {

    .display{
        display: flex;
        flex-direction: column;

        &__aside{
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-right: none;
            border-left: none;

            &-input{
                margin-right: 1rem;
            }
            &-button{
                position: relative;
                top: 0.55rem;
                width: 4rem;
                border: 1px solid white;
                border-radius: 4px;
                &:active{
                    background-color: $darkWineRed;
                }
            }
        }

        &__items{
            width: 100%;
            border: none;

            display: grid;
            grid-template-columns: 1fr;
        }
    }
}
