.display {
    display: flex;
    flex-direction: center;
    width: 100%;

    &__aside {
        display: flex;
        order: 1;
        align-items: center;
        padding: 1rem;
        width: 15.5%;
        height: 887px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background-color: $wineRed;
        flex-direction: column;

        &-input {
            margin-top: 2rem;
            width: 14rem;
            height: 2.5rem;
            background-color: $black;
            color: white;
            border: 1px solid #fff;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 1rem;

            &::placeholder {
                font-family: "blender pro";
                font-size: 16px;
                color: white;
            }
        }

        &-button {
            cursor: pointer;
            background-color: transparent;
            border: 1px solid transparent;
            width: 36px;
            height: 36px;
            border-radius: 25px;
        }
    }

    &__items {
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 84.5%;
        border: 1px white solid;

        &-element {
            border: 1px solid black;
            height: 295px;
        }
    }
}

/// Elements

.textReader{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    background: linear-gradient(to left, black 50%, #fff 50%) right;
    background-size: 250%;
    transition: 0.3s ease-out;

    &-title {
        font-family: "Public Sans", sans-serif;
        font-weight: 100;
        font-size: 36px;
    }

    &-description {
        color: black;
        font-family: "quicksand", sans-serif;
        font-weight: bolder;
        font-size: 16px;
        &-h2 {
            margin-bottom: 2rem;
        }
    }

    &:hover {
        background-position: left;
        cursor: pointer;
    }
}
