html {
    width: 100%;
    box-sizing: border-box;
    font-size: 100%;
    background-color: $lightBlack;
    color: white;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

#load{
    animation: load 1s;
}

