.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black;
    width: 100%;


    &__item {
        // border: 2px pink solid;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        &-img {
            width: 10rem;
            margin-left: 5rem;
            margin-top: 1rem;
        }
    }
}

.card {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    &__item {

        padding: 1rem 3rem;
        border: 1px solid transparent;
        justify-content: space-evenly;
        border: 1px solid $black;

        color: white;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 100;
        background: $black;

        background: linear-gradient(to left, $black 50%, #fff 50%) right;
        background-size: 250%;
        transition: .3s ease-out;
        
        &:hover{
            background-position: left;
            color: black;
            font-weight: bold;
        }

        &:active
        {
            color: transparent;
        }
    
    }


}


@media screen and (max-width: 1000px) {
    
    .header{
        display: flex;
        flex-direction: column;
        background-color: $black;
        width: 100%;
        justify-content: center;
        align-items: center;

        &__logo{
            margin-top: 1rem;
            margin-bottom: 1rem;
            &-img{
                margin-left: 0rem;
            margin-top: 0rem;
            }
        }
    }

    .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    &__item{
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: white 1px solid;
    }
    }
}