.header {
    // border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black;

    &__item {
        // border: 2px pink solid;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        &-img {
            width: 10rem;
            margin-left: 5rem;
            margin-top: 1rem;
        }
    }
}

.card {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    &__item {
        border: 1px solid transparent;
        margin-right: 1rem;


        color: white;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 100;

        
        &:hover {

        }

        &:active
        {

        }
    
    }


}


@media screen and (max-width: 800px) {
    
    .header{

    }
}