.projects{
    display: flex;
    background-color: $wineRed;
    
    &__title{
        display: flex;
        order: 1;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        width: 15.6%;
        border-right: 1px solid white;
        font-family: "pobeda";
        font-weight: bold;
        font-size: 24px;
        background-color: $darkWineRed;
    }
    &__tags{
        display: flex;
        width: 85%;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        order: 2;
        font-family: 'Blender Pro', sans-serif;
        font-size: 24px;
        letter-spacing: 2px;

        &-button{
            margin: 1rem;
            padding: 1.5rem;
            text-align: center;
            border: 1px solid $lightGray;
            width: 33%;

            &:hover{
                border: 2px solid white;
                cursor: pointer;
                padding: 23px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    
    .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title{
            width: 100%;
        }
        &__tags{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            &-button{
                width: 100%;
                margin: 0;
                border: 0px solid white;
            
                &:hover{

                }
            }
        }
    }
}