/// Colors

$black: #04060b;
$lightBlack:#05080D;
$pink: #F26D85;
$lightRed: #F26B6B;
$purple: #584C73;
$beige: #EEF2CE;
$wineRed: #58041b;
$darkWineRed: #400414;
$darkBlue: #121726;
$peach: #F2AF88;
$lightGray: #ffffffe2;
$saturaredRed: #b0160ee7;